<launch>
    <!-- Launch Constants -->
    <include file="src/constants/launch/constants.launch"/>

    <!-- Launch Communications -->
    <include file="src/communications/launch/communications.launch"/>

    <!-- Launch Cameras -->
    <!-- <include file="src/hardware/sensors/cameras/launch/cameras.launch"/> -->

    <!-- Launch Drive Base -->
    <!-- <include file="src/hardware/subsystems/drive_base/launch/drive_base.launch"/> -->

    <!-- Launch Arm -->
    <!-- <include file="src/hardware/subsystems/arm/launch/arm.launch"/> -->
</launch>
