[Unit]
Description=autoBoot systemd service

[Service]
Type=simple
ExecStart=/bin/bash /home/savage22/SPEX/rovers-ros/src/externalScript/autoBoot.sh

[Install]
WantedBy=multi-user.target